<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="description" content="Cumpără tastaturi de calitate la prețuri competitive. Descoperă o gamă variată de tastaturi pentru gaming, office și programare.">
    <meta name="keywords" content="tastaturi, gaming, office, programare, ergonomic, accesorii, mecanice, membrană, iluminare RGB, wireless">    
    <title>Pagina Produs Tastaturi</title>
    <%- include("../fragmente/head") %>     
    <link href="/Resurse/css/produs.css" type="text/css" rel="stylesheet" />
</head>
<body>
<%- include("../fragmente/header") %>

<main>
    <section>
        <h2>Pagină produs</h2>
        <article id="art-produs">
            <h3><span class="nume"><%- locals.prod.nume %></span></h3>
            <p>Pret: <span class="pret"><%- locals.prod.pret %> RON</span></p>
            <p>Descriere: <span class="descriere"><%- locals.prod.descriere %></span></p>
            <p>Conectivitate: <span class="conectivitate"><%- locals.prod.conectivitate %></span></p>
            <p>Iluminare: <span class="iluminare"><%- locals.prod.iluminare ? 'Da' : 'Nu' %></span></p>
            <p>Layout: <span class="layout"><%- locals.prod.layout || 'N/A' %></span></p>
            <p>Numar taste: <span class="numar_taste"><%- locals.prod.numar_taste %></span></p>
            <p>Tip serviciu: <span class="tip_serviciu"><%- locals.prod.tip_serviciu %></span></p>
            <p>Tip tastatura: <span class="tip_tastatura"><%- locals.prod.tip_tastatura %></span></p>
            <p>Categorie: <span class="categorie"><%- locals.prod.categorie %></span></p>
            <p>Specificatii: <span class="specificatii"><%- locals.prod.specificatii.join(', ') %></span></p>
            <figure class="imag-produs">
                <img  src="/Resurse/Imagini/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
            </figure>    
        </article>
    </section>
</main>

<%- include("../fragmente/footer") %>
</body>
</html>
