<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Holoboard oferă o gamă largă de tastaturi de înaltă calitate, proiectate pentru performanță și confort. Descoperiți cele mai recente modele de tastaturi mecanice, cu iluminare RGB personalizabilă și tehnologii avansate.">
    <meta name="keywords" content="tastaturi, tastatura mecanica, iluminare RGB, gaming, tastatura ergonomică, tastatura wireless">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/Resurse/SCSS/customizare_bootstrap.scss">
    <link rel="stylesheet" href="/Resurse/js/produse-cos.js"/>
    <title>Holoboard - home</title>
    <%- include("../fragmente/head") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/Resurse/js/produse.js"></script>
    <script type="text/javascript" src="/Resurse/js/produse-cos.js"></script>
</head>
<body>
    <%- include("../fragmente/header") %>
    <main>
        <br>
        <label class="form-label">Nume: <input type="text" id="inp-nume" class="form-control"></label>

        <!-- Datalist Input -->
        <label class="form-label">Conectivitate:
            <input list="conectivitati" id="inp-conectivitate" class="form-control">
            <datalist id="conectivitati">
                <option value="USB">
                <option value="Wireless">
                <option value="Bluetooth">
            </datalist>
        </label>

        <!-- Checkbox Group Input -->
        <div>
            Tip servicii:
            <div class="form-check">
                <input type="checkbox" id="i_chk1" name="gr_chk" value="lubrifiere" class="form-check-input"/>
                <label for="i_chk1" class="form-check-label">Lubrifiere</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="i_chk2" name="gr_chk" value="curatare" class="form-check-input"/>
                <label for="i_chk2" class="form-check-label">Curatare</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="i_chk3" name="gr_chk" value="reparatii" class="form-check-input"/>
                <label for="i_chk3" class="form-check-label">Reparatii</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="i_chk4" name="gr_chk" value="personalizari" class="form-check-input"/>
                <label for="i_chk4" class="form-check-label">Personalizari</label>
            </div>
        </div>

        <!-- Textarea Input -->
        <label class="form-label">Descriere: 
            <textarea id="inp-descriere" class="form-control" rows="3"></textarea>
        </label>

        <!-- Multiple Select Input -->
        <label class="form-label">Selectează Specificații:
            <select id="inp-specificatii" class="form-select" multiple>
                <option value="RGB">RGB</option>
                <option value="Switch-uri Cherry MX">Switch-uri Cherry MX</option>
                <option value="Tastaturi Programabile">Tastaturi Programabile</option>
            </select>
        </label>

        <div>
            Compatibilitate:
            <div class="form-check">
                <input type="checkbox" id="compatibilitate1" name="gr_compatibilitate" value="Windows" class="form-check-input"/>
                <label for="compatibilitate1" class="form-check-label">Windows</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="compatibilitate2" name="gr_compatibilitate" value="Mac" class="form-check-input"/>
                <label for="compatibilitate2" class="form-check-label">Mac</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="compatibilitate3" name="gr_compatibilitate" value="Linux" class="form-check-input"/>
                <label for="compatibilitate3" class="form-check-label">Linux</label>
            </div>
        </div>
    
        <!-- Radio Group for "has" and "does not have" multiple compatibility -->
        <div class="radio-group">
            <label><input type="radio" name="compatibilitate_optiune" value="are" checked> Are Compatibilitate Multipla</label>
            <label><input type="radio" name="compatibilitate_optiune" value="nu are"> Nu are Compatibilitate Multipla</label>
        </div>
    

        <div>
            Tip tastatură:
            <div class="form-check">
                <input id="i_rad1" name="gr_rad" value="mecanice" type="radio" class="form-check-input"/>
                <label for="i_rad1" class="form-check-label">Mecanice</label>
            </div>
            <div class="form-check">
                <input id="i_rad2" name="gr_rad" value="membrană" type="radio" class="form-check-input"/>
                <label for="i_rad2" class="form-check-label">Membrană</label>
            </div>
            <div class="form-check">
                <input id="i_rad3" name="gr_rad" value="hibride" type="radio" class="form-check-input"/>
                <label for="i_rad3" class="form-check-label">Hibride</label>
            </div>
            <div class="form-check">
                <input id="i_rad4" checked name="gr_rad" value="toate" type="radio" class="form-check-input"/>
                <label for="i_rad4" class="form-check-label">Toate</label>
            </div>
        </div>
        
        <label class="form-label">Pret minim: 
        <input type="range" id="inp-pret" value="0" min="0" max="340" class="form-range"> 
        <span id="infoRange">(0)</span>
        </label>
        
        <label class="form-label">
            Select simplu: 
            <select id="inp-categorie" class="form-select">
                <option id="sel-toate" selected value="toate">Toate</option>
                <option value="gaming">Gaming</option>
                <option value="office">Office</option>
                <option value="programare">Programare</option>
                <option value="ergonomice">Ergonomice</option>
            </select>
        </label>
        
        <p>
            <button id="filtrare" class="btn btn-primary">
            <i class="bi bi-filter"></i> <span class="d-none d-sm-inline">Filtreaza</span>
            </button>

            <input type="checkbox" id="salveaza-filtrare" class="form-check-input">
            <label for="salveaza-filtrare" class="form-check-label">Salvează filtrarea</label>

            <button id="resetare" class="btn btn-secondary">
               <i class="bi bi-arrow-clockwise"></i> <span class="d-none d-sm-inline">Resetează</span>
           </button>
           
            <br/>
            <br>
            <button id="sortCrescNume" class="btn btn-success">
            <i class="bi bi-sort-numeric-up"></i> <span class="d-none d-sm-inline">Sorteaza crescator dupa pret si nume</span>
            </button>
            <button id="sortDescrescNume" class="btn btn-danger">
            <i class="bi bi-sort-numeric-down"></i> <span class="d-none d-sm-inline">Sorteaza descrescator dupa pret si nume</span>
            </button>

            <button id="calculeazaMedia" class="btn btn-info">
                <i class="bi bi-calculator"></i> <span class="d-none d-sm-inline">Calculează media prețurilor selectate</span>
            </button>
        </p>
        
        <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        
        <section id="produse">
            <h2>Produse</h2>
            <div class="row">
                <% for( let prod of locals.produse) { %>
                    <article class="col-md-4 mb-4 produs">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">
                                    <label>
                                        <input type="checkbox" class="select-produs">
                                        Nume: <a href="/produs/<%-prod.id %>"><span class="val-nume"><%- prod.nume %></span></a>
                                    </label>
                                </h3>
                                <p class="card-text">Pret: <span class="val-pret"><%- prod.pret %></span></p>
                                <p class="card-text">Conectivitate: <span class="val-conectivitate"><%- prod.conectivitate %></span></p>
                                <p class="card-text">Numar taste: <span class="val-numar-taste"><%- prod.numar_taste %></span></p>
                                <p class="card-text">Tip tastatura: <span class="val-tip-tastatura"><%- prod.tip_tastatura %></span></p>
                                <p class="card-text">Categorie: <span class="val-categorie"><%- prod.categorie %></span></p> 
                                <p class="card-text val-categorie d-none"><%- prod.categorie %></p>
                                <p class="card-text val-tip-tastatura d-none"><%- prod.tip_tastatura %></p>
                                <p class="card-text val-conectivitate d-none"><%- prod.conectivitate %></p>
                                <p class="card-text val-descriere d-none"><%- prod.descriere %></p>
                                <p class="card-text val-specificatii d-none"><%- prod.specificatii.join(", ") %></p>
                                <p class="card-text val-servicii d-none"><%- prod.tip_serviciu %></p>
                            </div>
                            <figure class="card-img-bottom">
                                <a href="/produs/<%-prod.id %>">
                                <img src="/Resurse/Imagini/Produse/<%- prod.imagine %>" alt="<%- prod.imagine %>" class="img-fluid">
                                </a>
                            </figure>
                        </div>
                    </article>
                    
                <% } %>
            </div>
        </section>
    </main>
    <%- include("../fragmente/footer") %>
</body>
</html>

                     